<%- include("header") -%>
    <div class="box" id="heading">
        <h1>This is the about page.</h1>
    </div>

    <p>The web based app was made as a part of training and implementation of back end development in node environment. The sample app was designed to be doing a a fuction of making a to do list , without a pen and a paper. </p>
    <br><br><br><br>
    <%- include("footer") -%>